<script>
  import { coverPreviewSrc, hateList } from "../../stores/albums";
  import GuitarIcon from "../../assets/GuitarIcon.svelte";
  export let cover_url;
  export let title;
  export let author;
  export let genre;
  export let album_id;
  let src = cover_url;
  const viewCover = () => {
    coverPreviewSrc.set(src);
  };

  // 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='
</script>

<style>
  .content {
    display: flex;
    position: relative;
  }

  .albumInfo {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-flow: 1;
  }
  .cover {
    margin: 0.5rem;
    width: 88px;
    height: 88px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cover img {
    width: 88px;
    height: 88px;
    cursor: pointer;
  }
  .albumTitle {
    font-size: 1.2rem;
    font-weight: bold;
    flex-grow: 1;
  }
  .closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border:none;
    outline: none;
    cursor: pointer;
  }
</style>

<div class="content">
  <div class="cover" on:click={viewCover}>
    {#if src}
      <img {src} alt="album-cover" on:error={() => (src = null)} />
    {:else}
      <GuitarIcon width="40" />
    {/if}
  </div>
  <div class="albumInfo">
    <div class="albumTitle">{author}</div>
    <div>{title}</div>
    <div>{genre.slice(0, 1).toUpperCase()}{genre.slice(1)}</div>
  </div>
  <button class="closeButton" on:click={()=>hateList.add(album_id)}>
    <svg width="10" height="10" viewBox="0 0 512.001 512.001">
      <path
        d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
        L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
        c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
        l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
        L284.286,256.002z" />
    </svg>
  </button>
</div>
